.footer-columns__links {
    /*border: 1px white solid;*/
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    transition: transform 0.3s ease;
  }
  
  .footer-columns__links:hover {
    color: #2f80ed;
    transform: scale(1.5);
  }
  
  .footer-columns__links:active {
    color: purple;
  }