@import url(./__theme/theme.css);
@import url(./__triangle-pic/kaufman__triangle-pic.css);

.kaufman {
    /*border: 4px orange solid;*/
    background-color: #1f1f1f ;
    overflow: hidden !important;
    overflow-x: hidden;
    z-index: -1;
    margin: 0;
    position: relative;
  }
  