@import url(./__two-columns/two-columns_oakley.css);

.oakley {
    background-color: #f2f2f2;
    width: auto;
    height: 100%;
    flex-flow: row;
    position: relative;
    padding-top: 160px;
    bottom: 0;
    /*border: 1px red solid;*/
    margin-bottom: 0;
    padding-bottom: 0px;
    overflow: hidden;
}