@import url(./__cell/table-cell.css);
@import url(./__row/table-row.css);
@import url(./__tbody/tbody.css);
@import url(./__theme/table_set-theme-white.css);

.table {
    /*border: 2px red solid;*/
    max-width: 1100px;
    border-collapse: collapse;
  
    display: flex;
    flex-direction: column;
    
    align-content: flex-start;
    justify-content: center;
  }